<html>
    <head>
     <title>Home</title>
    </head>

    <body>
       {{> header}}
        <h1>Welcome {{userName}}</h1>
        <p>It's nice to meet you at {{date}}</p>
      {{> fotter}}
    </body>

</html>



